################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApiGateway/obj/x64/Debug
/MyStatelessService/obj/x64/Debug
/packages
/SFApp.Domain/obj/Debug
